.bg {
    position: relative;
    background: url('../images/popbg.png') no-repeat;
    text-align: center;
    background-size: 100% 100%;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    margin-top: 5em;
}
.inputbox {
    position: absolute;
    margin: 0 auto;
    margin-top: 5em;
}
.inputbox input {
    border-radius: 0.5em;
    margin-top: 0.5em;
    background-color: #dddddd;
    height: 2.5em;
    padding-left: 0.5em;
    color: #898989;
    border: 0px;
    width: 75%;
    margin-top: 0.7em;
    font-size: 0.8em;
}
.btn {
    position: absolute;
    margin: 0 auto;
    margin-top: 12em;
    width: 100%;
}
.btn span {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 37%;
    display: inline-block;
    border-radius: 0.3em;
    color: white;
}
.lgn {
    background-color: #eb458f;
}
.reg {
    background-color: #32b3ed;
}
