.content {
    margin-top: 2em;
    text-align: center;
    margin: 1em auto;
    width: 60%;
    overflow: hidden;
}
.content div {
    margin-left: auto;
    margin-right: auto;
}
.result {
    border: 1px solid #dedede;
    margin: 0.5em 0;
    height: 15em;
}
.result img {
    width: 100%;
    height: 100%;
}
.share {
    float: right;
}
.rtn {
    margin-top: 2em;
    text-align: center;
    margin: 1em auto;
    width: 30%;
    border: 1px solid #dedede;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}