.page {
    width: 100%;
    height 100%;
    overflow: hidden;
}
.success {
    position: absolute;
    background: url('../images/result/inter-v1-4.jpg') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.fail {
    background: url('../images/result/inter-v1-5.jpg') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.success div {
    width: 100%;
    text-align: center;
    margin-top: 20em;
    color: #666;
}
.fail div {
    width: 100%;
    text-align: center;
    margin-top: 20em;
    color: #666;
}
.title {
    position: absolute;
    width: 100%;
    z-index: 100;
    text-align: center;
    font-size: 1em;
    padding: 0.5em 0;
    color: white;
}
.ts {
    background-color: #eb458f;
}
.tf {
    background-color: #32b3ed;
}
.rtn {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 25em;
}
.rtn span {
    background-color: #32b3ed;
    width: 30%; 
    border: 1px solid #dedede;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
